.docs-page {
    display: flex;
    flex-direction: row;
}
.docs-page-body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #4a5568; /* Charcoal black */
    color: #fdfffc;
    flex: 2;
}
.docs-page-body-content {
    padding: 1rem;
}
.docs-page-title {
    font-size: 300%;
}
.docs-page-links-section {
    padding: 0.8em 0;
}
.docs-page-description {
    padding: 0 0 0.8em;
}
.docs-page-description-section {
    padding: 0.4em 0;
}
.docs-page-description-section-label {
    font-size: 150%;
    padding: 0 0 0.4em;
}
.docs-page-code-block {
    height: 15em;
    overflow: auto;
    background-color: #0d1321;
    border-radius: 0.4em;
    padding: 0 0.8em;
    margin: 0.8em 0;
}
.docs-page-code-block.auto-height {
    height: auto;
}